NODE_ENV=development
PORT=11020
API_URL=http://localhost:11020/api
FRONT_URL=http://localhost:5173

MYSQL_USER=root
MYSQL_PASSWORD=your_mysql_password
MYSQL_HOST=localhost
MYSQL_PORT=3306
DB_NAME=unit_tracking

SECRET_KEY=your_jwt_secret_key_here

SEED=true

SMTP_SERVICE=gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_EMAIL=noreply@example.com
SMTP_PASSWORD=your_smtp_password
SMTP_RECEIVER_EMAIL=admin@example.com
